body{
	margin:0;
	padding:0;
	overflow:hidden;
}
canvas{
	background:black;
	cursor:none;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}